.container {
  position: relative;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: scale(2) translate(-24%, -58%);
  z-index: 50;
}
.background-image:first-child {
  position: absolute;
  opacity: 1;
  animation-delay: 4s;
  z-index: 2;
}

.background-image {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  animation: fade-image-1 8s infinite;
}
@keyframes fade-image-1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
